.into {
    background: white;
    width: 70%;
    padding: 20px;
    margin: auto;
    margin-top: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;


}
.list {
  widows: 50%;
  border:  2px solid gainsboro;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px


}
.instedlist {
    display: flex;
    flex-direction: column;
    gap: 20px
}
.ullist {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px  
}
.ullist li {
    font-size: 18px;
}
.title h1  {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px
}
.text {
    font-size: 18px;
    color: red
}