
.into {
    background: white;
    width: 70%;
    padding: 20px;
    margin: auto;
    margin-top: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif  



}
.btn {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: flex-end;
    align-items: flex-end
}
.btn {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: flex-end;
    align-items: flex-end
}

.instedlist {
    display: flex;
    flex-direction: column;
    gap: 20px
}
.ullist {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px  
    
}
.ullist li {
    font-size: 18px;
}
.textpara {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    padding: 10px;
    line-height: 1.625;
    color: red;
}
.ullist span {
    color: red;
    
}
