.head {
    width: 100%;
    background-color: #dfdfe2


}
.title {
    color: #0a0a23;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    text-align: left
}
.titlebcak {
    color: #0a0a23;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    text-align: center 
}
.warrpe {
    display: flex;
    flex-direction: row;
    gap: 600px;
    padding: 10px
}