.into {
    background: white;
    width: 70%;
    padding: 20px;
    margin: auto;
    margin-top: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  



}
.list {
  widows: 50%;
  border:  2px solid gainsboro;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 15px;


}